/* {{scheme-name}} by {{scheme-author}} */
#define B16_BASE00 "#{{base00-hex}}"
#define B16_BASE01 "#{{base01-hex}}"
#define B16_BASE02 "#{{base02-hex}}"
#define B16_BASE03 "#{{base03-hex}}"
#define B16_BASE04 "#{{base04-hex}}"
#define B16_BASE05 "#{{base05-hex}}"
#define B16_BASE06 "#{{base06-hex}}"
#define B16_BASE07 "#{{base07-hex}}"
#define B16_BASE08 "#{{base08-hex}}"
#define B16_BASE09 "#{{base09-hex}}"
#define B16_BASE0A "#{{base0A-hex}}"
#define B16_BASE0B "#{{base0B-hex}}"
#define B16_BASE0C "#{{base0C-hex}}"
#define B16_BASE0D "#{{base0D-hex}}"
#define B16_BASE0E "#{{base0E-hex}}"
#define B16_BASE0F "#{{base0F-hex}}"
