# {{scheme-name}} by {{scheme-author}}
b16_base00="#{{base00-hex}}"
b16_base01="#{{base01-hex}}"
b16_base02="#{{base02-hex}}"
b16_base03="#{{base03-hex}}"
b16_base04="#{{base04-hex}}"
b16_base05="#{{base05-hex}}"
b16_base06="#{{base06-hex}}"
b16_base07="#{{base07-hex}}"
b16_base08="#{{base08-hex}}"
b16_base09="#{{base09-hex}}"
b16_base0A="#{{base0A-hex}}"
b16_base0B="#{{base0B-hex}}"
b16_base0C="#{{base0C-hex}}"
b16_base0D="#{{base0D-hex}}"
b16_base0E="#{{base0E-hex}}"
b16_base0F="#{{base0F-hex}}"
