#set fish_color_autosuggestion '555' 'brblack'
set fish_color_autosuggestion brblack
set fish_color_command --bold
set fish_color_comment brblack --italic
set fish_color_cwd magenta
set fish_color_end brmagenta
set fish_color_error brred
set fish_color_escape bryellow
set fish_color_history_current --bold
set fish_color_host normal
set fish_color_match --background=blue
set fish_color_normal normal
set fish_color_operator normal
set fish_color_param blue --bold
set fish_color_quote green
set fish_color_redirection cyan
set fish_color_search_match white --background={{base02-hex}}
set fish_color_selection white --background={{base02-hex}}
set fish_color_user brgreen
set fish_color_valid_path --underline
